<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
</head>
<body>
<header class="header1">
    <!--로그인 모달-->
    <section class="loginModalWrap">
        <div class="loginModalScope flexPublic">
            <div class="loginModalBox flexRow">
                <!--모달 창 X버튼-->
                <div class="closeWrap">
                    <button class="closeBackground flexPublic">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                             focusable="false" preserveAspectRatio="xMidYMid meet" class="css-7kp13n e181xm9y0">
                            <path xmlns="http://www.w3.org/2000/svg"
                                  d="M6.34314575,4.92893219 L12.000039,10.585039 L17.6568542,4.92893219 C18.0473785,4.5384079 18.6805435,4.5384079 19.0710678,4.92893219 C19.4615921,5.31945648 19.4615921,5.95262146 19.0710678,6.34314575 L13.415039,12.000039 L19.0710678,17.6568542 C19.4615921,18.0473785 19.4615921,18.6805435 19.0710678,19.0710678 C18.6805435,19.4615921 18.0473785,19.4615921 17.6568542,19.0710678 L12.000039,13.415039 L6.34314575,19.0710678 C5.95262146,19.4615921 5.31945648,19.4615921 4.92893219,19.0710678 C4.5384079,18.6805435 4.5384079,18.0473785 4.92893219,17.6568542 L10.585039,12.000039 L4.92893219,6.34314575 C4.5384079,5.95262146 4.5384079,5.31945648 4.92893219,4.92893219 C5.31945648,4.5384079 5.95262146,4.5384079 6.34314575,4.92893219 Z">
                            </path>
                        </svg>
                    </button>
                </div>
                <!--사진,정보입력-->
                <div class="imgWrap">
                    <img src="/imgs/fix/loginBalloon(풍선).jpg"
                         style="margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; border-radius: 8px 0 0 8px "
                         alt="">
                    <span class="imgText">현재 324,254,196명의 회원이 마일스톤에서 마음을 나누고 있습니다.
                    <br>324,254,197번째 마일스톤회원이 되어 마음을 나눠보세요 :)</span>
                </div>
                <div class="loginWrap">
                    <h2 class="loginTitle">로그인</h2>
                    <div class="flexColNormal flexBetween loginBody">
                        <form action="">
                            <div class="margin-bottom-8">
                                <input type="text" class="loginInputCos" placeholder="이메일을 입력해 주세요">
                                <div class="warningMsg margin-top-4">이메일을 입력해 주세요</div>
                            </div>
                            <div class="margin-bottom-8">
                                <input type="password" class="loginInputCos" placeholder="비밀번호를 입력해 주세요">
                                <div class="warningMsg margin-top-4">비밀번호를 입력해 주세요</div>
                            </div>
                            <button class="loginButton">
                                로그인
                            </button>
                            <div class="margin-top-8 flexBetween loginItemsWrap">
                                <div class="flexBetween flexPublic">
                                    <label class="flexPublic checkboxWrap">
                                        <input type="checkbox">
                                        <div class="checkboxCos"></div>
                                        <div class="margin-left-8">로그인 유지</div>
                                    </label>
                                </div>
                                <a href="" class="findLoginInfo">
                                    아이디•비밀번호 찾기
                                </a>
                            </div>
                        </form>
                        <div class="loginItemBottom">
                            <div class="margin-bottom-12 flexCol flexPublic">
                                <span class="oAuthTitle">SNS계정으로 간편하게 로그인하세요.</span>
                                <div class="oAuthesWrap margin-top-16 flexBetween width-100">
                                    <a href="" class="oAuthBox flexPublic"></a>
                                    <a href="" class="oAuthBox flexPublic" style="background-color: rgb(30, 200, 0);">
                                        <img src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/naver_logo.png"
                                             width="32"
                                             height="32" alt="">
                                    </a>
                                    <a href="" class="oAuthBox flexPublic" style="background-color: rgb(249, 224, 0);">
                                        <img src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/kakao_logo.png"
                                             width="32"
                                             height="32" alt="">
                                    </a>
                                    <a href="" class="oAuthBox flexPublic"
                                       style="background-color: rgb(248, 249, 253);">
                                        <img src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/google_logo.png"
                                             width="32"
                                             height="32" alt="">
                                    </a>
                                    <a href="" class="oAuthBox flexPublic"></a>
                                </div>
                            </div>
                            <hr class="grayLine">
                            <p class="loginFooterText">마일스톤의 회원이 되셔서<br>
                                마음을 나눠보세요</p>
                            <a href="" class="joinBtn flexPublic">
                                마일스톤 회원가입 하기
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--진짜 헤더-->
    <section class="header2">
        <a href="#" class="logo1">
            <img src="/imgs/fix/logo.png" style="width: 120px; height: 120%;" class="logo2">

            </svg>
        </a>
        <div class="header3"></div>
        <div style="flex-grow: 1;"></div>
        <div class="header4">
            <div class="header5"></div>
        </div>
        <div class="button1">
            <button role="button" color="default" class="button2 button3">
                <span class="button4 button3">보육원 등록</span>
            </button>
            <button role="button" color="default" class="button5 button3" id="loginBtn">
                <span class="button6 button3">로그인</span>
            </button>
            <a role="link" color="yellow" href="#" class="button7 button3">
                <span class="button8 button3">무료 회원가입</span>
            </a>
        </div>
    </section>
    <section class="header6">
        <div class="header7">
            <div class="header8">
                <nav>
                    <ul class="nav1">
                        <li class="nav2 nav3" style="padding-right: 10px">
                            <a color="secondary" href="#" class="nav4 nav5 nav6" id="nav-text1">소개</a>
                            <div class="nav7 nav8">
                                <div class="nav9 nav10" id="yellow1"></div>
                            </div>
                        </li>
                        <li class="nav2 nav3" style="padding-right: 10px">
                            <a color="secondary" href="#" class="nav4 nav5 nav6" id="nav-text2">보육원</a>
                            <div class="nav7 nav8">
                                <div class="nav9 nav10" id="yellow2"></div>
                            </div>
                        </li>
                        <li class="nav2 nav3" style="padding-right: 10px">
                            <a color="secondary" href="#" class="nav4 nav5 nav6" id="nav-text3">도움이 필요해요</a>
                            <div class="nav7 nav8">
                                <div class="nav9 nav10" id="yellow3"></div>
                            </div>
                        </li>
                        <li class="nav2 nav3" style="padding-right: 10px">
                            <a color="secondary" href="#" class="nav4 nav5 nav6" id="nav-text4">기부랭킹</a>
                            <div class="nav7 nav8">
                                <div class="nav9 nav10" id="yellow4"></div>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="header9 header10">
                    <a href="/faq/faq" class="header11 header12">
                        원하는 서비스를 못 찾겠다면, <b>FAQ를&nbsp</b>확인 하세요! &nbsp;&gt;
                    </a>
                </div>
            </div>
        </div>
    </section>
</header>
</body>
</html>