<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/css/fix/header.css">
</head>
<body>
<header class="header1">
    <section class="header2">
        <a href="#" class="logo1">
            <img src="/imgs/fix/logo.png" style="width: 120px; height: 120%;" class="logo2">

            </svg>
        </a>
        <div class="header3"></div>
        <div style="flex-grow: 1;"></div>
        <div class="header4">
            <div class="header5"></div>
        </div>
        <div class="button1">
            <button role="button" color="default" class="button2 button3">
                <span class="button4 button3">보육원 등록</span>
            </button>
            <button role="button" color="default" class="button5 button3">
                <span class="button6 button3">로그인</span>
            </button>
            <a role="link" color="yellow" href="#" class="button7 button3">
                <span class="button8 button3">무료 회원가입</span>
            </a>
        </div>
    </section>
    <section class="header6">
        <div class="header7">
            <div class="header8">
                <nav>
                    <ul class="nav1">
                        <li class="nav2 nav3" style="padding-right: 10px">
                            <a color="secondary" href="#" class="nav4 nav5 nav6">소개</a>
                            <div class="nav7 nav8">
                                <div class="nav9 nav10"></div>
                            </div>
                        </li>
                        <li class="nav2 nav3" style="padding-right: 10px">
                            <a color="secondary" href="#" class="nav4 nav5 nav6">보육원</a>
                            <div class="nav7 nav8">
                                <div class="nav9 nav10"></div>
                            </div>
                        </li>
                        <li class="nav2 nav3" style="padding-right: 10px">
                            <a color="secondary" href="#" class="nav4 nav5 nav6">도움이 필요해요</a>
                            <div class="nav7 nav8">
                                <div class="nav9 nav10"></div>
                            </div>
                        </li>
                        <li class="nav2 nav3" style="padding-right: 10px">
                            <a color="secondary" href="#" class="nav4 nav5 nav6">기부랭킹</a>
                            <div class="nav7 nav8">
                                <div class="nav9 nav10"></div>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="header9 header10">
                    <a href="/faq/faq" class="header11 header12">
                        원하는 서비스를 못 찾겠다면, <b>FAQ를&nbsp</b>확인 하세요! &nbsp;&gt;
                    </a>
                </div>
            </div>
        </div>
    </section>
</header>
</body>
</html>