<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
    <link rel="stylesheet" href="/css/myPage/myPageMain.css">
    <link rel="stylesheet" href="/css/myPage/myPageAside.css">
    <link rel="stylesheet" href="/css/myPage/myPageSchedule.css">
    <link rel="stylesheet" href="/css/myPage/callender.css">
    <link rel="stylesheet" href="/css/myPage/public.css">
    <title>Document</title>
</head>

<body>
<!-- 모달 -->
<div class="modalWrap">
    <div class="modalScope flexCol">
        <div class="modalHead flexCol flexPublic">
            <div class="exclamationMark flexPublic">
                <div>!</div>
            </div>
            <h2 class="modalContent">황지수보육원 일정을 <br>
                정말로 취소할까요?</h2>
        </div>
        <div class="modalFooter">
            <button class="modalBtn">YES</button>
            <button class="modalBtn">NO</button>
        </div>
    </div>
</div>
<header th:replace="/fix/header.html :: header"></header>
<div class="myPageWrap flex">
    <!-- 어사이드 -->
    <aside class="flexColNormal" style="width: 300px;">
        <div class="asideTitle">
            마이페이지
        </div>
        <div class="asideLine"></div>
        <a href="" class="asideItemWrap flexRow">나의 정보</a>
        <a href="" class="asideItemWrap flexRow">보육원 정보</a>
        <a href="" class="asideItemWrap flexRow">일정 관리</a>
        <a href="" class="asideItemWrap flexRow">기부 활동</a>
        <a href="" class="asideItemWrap flexRow">찜한 보육원</a>
        <a href="" class="asideItemWrap flexRow">비밀번호 변경</a>
        <a href="" class="asideItemWrap flexRow">회원 탈퇴</a>
    </aside>
    <!-- 메인 -->
    <main class="main">
        <div class="mainWrap flexCol">
            <div class="mainTitle flexRow">일정 관리</div>
            <div class="mainBodyWrap flexCol flexPublic">
                <!-- 메인컨텐츠 -->
                <!-- 달력 -->
                <div class="tempDiv">
                    <div class="callenderWrap">
                        <div class="callenderHead">
                            <div class="prevMonth"></div>
                            <div class="nowMonth"></div>
                            <div class="nextMonth"></div>
                        </div>
                        <table class="callenderBody">
                            <tr>
                                <th>일</th>
                                <th>월</th>
                                <th>화</th>
                                <th>수</th>
                                <th>목</th>
                                <th>금</th>
                                <th>토</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- 일정 목록 -->
                <div class="list flexCol">
                    <div class="margin-top-16"></div>
                    <div class="listItems flexBetween">
                        <div class="items-names">보육원</div>
                        <div class="items-locations">보육원 주소</div>
                        <div class="items-dates">신청일</div>
                        <div class="items-cancels">일정 취소</div>
                    </div>
                    <div class="listItems flexBetween">
                        <div class="items-name flexCol">황지수보육원</div>
                        <div class="items-location">서울특별시 금천구 시흥22동 시흥대로 154길 33</div>
                        <div class="items-date flexCol">2022년 11월 11일</div>
                        <div class="items-cancel flexCol">취소</div>
                    </div>
                    <div class="listItems flexBetween">
                        <div class="items-name flexCol">황지수보육원</div>
                        <div class="items-location">서울특별시 금천구 시흥22동<br>시흥대로 4길</div>
                        <div class="items-date flexCol">2022년 11월 11일</div>
                        <div class="items-cancel flexCol">취소</div>
                    </div>
                    <div class="listItems flexBetween">
                        <div class="items-name flexCol">황지수보육원</div>
                        <div class="items-location">서울특별시 금천구 시흥22동 시흥대로 154길 33</div>
                        <div class="items-date flexCol">2022년 11월 11일</div>
                        <div class="items-cancel flexCol">취소</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<footer th:replace="/fix/footer.html :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/myPage/callender.js"></script>
<script src="/js/myPage/modal.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</html>