<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/css/main/slide.css"/>
    <link rel="stylesheet" href="/css/main/main.css"/>
    <link rel="stylesheet" href="/css/fix/header.css"/>
    <link rel="stylesheet" href="/css/fix/footer.css"/>


</head>

<body>
<header class="header1">
    <section class="header2">
        <a href="#" class="logo1">
            <img src="/imgs/main/logo.png" style="width: 85px; height: 100%;" class="logo2">
        </a>
        <div class="header3"></div>
        <div style="flex-grow: 1;"></div>
        <div class="header4">
            <div class="header5"></div>
        </div>
        <div class="button1">
            <button role="button" color="default" class="button2 button3">
                <span class="button4 button3">보육원 등록</span>
            </button>
            <button role="button" color="default" class="button5 button3">
                <span class="button6 button3">로그인</span>
            </button>
            <a role="link" color="yellow" href="#" class="button7 button3">
                <span class="button8 button3">무료 회원가입</span>
            </a>
        </div>
    </section>
    <section class="header6">
        <div class="header7">
            <div class="header8">
                <nav>
                    <ul class="nav1">
                        <li class="nav2 nav3">
                            <a color="secondary" href="#" class="nav4 nav5 nav6">소개</a>
                            <div class="nav7 nav8">
                                <div class="nav9 nav10"></div>
                            </div>
                        </li>
                        <li class="nav2 nav3">
                            <a color="secondary" href="#" class="nav4 nav5 nav6">보육원</a>
                            <div class="nav7 nav8">
                                <div class="nav9 nav10"></div>
                            </div>
                        </li>
                        <li class="nav2 nav3">
                            <a color="secondary" href="#" class="nav4 nav5 nav6">도움이 필요해요</a>
                            <div class="nav7 nav8">
                                <div class="nav9 nav10"></div>
                            </div>
                        </li>
                        <li class="nav2 nav3">
                            <a color="secondary" href="#" class="nav4 nav5 nav6">기부랭킹</a>
                            <div class="nav7 nav8">
                                <div class="nav9 nav10"></div>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="header9 header10">
                    <a href="#" class="header11 header12">
                        원하는 서비스를 못 찾겠다면, <b>프로젝트 의뢰</b>하세요! &nbsp;&gt;
                    </a>
                </div>
            </div>
        </div>
    </section>
</header>
<div class="main1">
    <main class="main2">
        <section class="banner1">
            <div class="banner2">
                <section class="slide-text1">
                    <h1 class="slide-text2">보육원 찾기 NO.1 마일스톤에서<br>기부하고싶은 보육원을 찾아보세요!</h1>
                    <form class="search1">
                        <div class="search2">
                            <div class="search-text1">


                                <!-- =============================================================================== -->
                                <div style="margin: 0; padding: 0;
                                list-style: none; box-sizing: border-box; ">

                                    <div style="  height: 100vh; display: flex;justify-content: center;
                                    align-items: center;color: white;">

                                        <div style="height: 55px; display: flex; justify-content: center;
                                        align-items: flex-end; font-size: 1.6rem;">

                                            <div>
                                                <h1 class="text" style="margin-bottom: 8px;"></h1>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- =============================================================================== -->


                                <span style="white-space:pre;min-height:29px"></span>
                                <span class="search-text2 search-text3">|</span>
                            </div>
                            <label for="hero-search">
                                <input id="hero-search" role="search" maxlength="15" autocomplete="off"
                                       autocorrect="off" autocapitalize="off" class="search3" value="">
                            </label>
                            <div class="search-icon1">
                                    <span role="img" color="#ffffff" rotate="0" class="search-icon2">
                                        <svg width="32" height="32" viewBox="0 0 24 24" fill="currentColor"
                                             aria-hidden="true" focusable="false" preserveAspectRatio="xMidYMid meet"
                                             class="search-icon3">
                                            <path xmlns="http://www.w3.org/2000/svg"
                                                  d="M11.2307008,3.5 C15.5002489,3.5 18.9614015,6.96828437 18.9614015,11.24663 C18.9614015,13.0978372 18.3133954,14.7973826 17.2322825,16.1299241 L20.2742127,19.178378 C20.5762688,19.4810023 20.5764739,19.9714482 20.2746708,20.2738195 C19.9728678,20.5761908 19.4833433,20.5759857 19.1812873,20.2733614 L19.1812873,20.2733614 L16.1426973,17.2288066 C14.8071694,18.3312107 13.0960911,18.9932599 11.2307008,18.9932599 C6.96115262,18.9932599 3.5,15.5249756 3.5,11.24663 C3.5,6.96828437 6.96115262,3.5 11.2307008,3.5 Z M11.2307008,5.04932599 C7.81506225,5.04932599 5.04614015,7.82395349 5.04614015,11.24663 C5.04614015,14.6693064 7.81506225,17.4439339 11.2307008,17.4439339 C14.6463393,17.4439339 17.4152614,14.6693064 17.4152614,11.24663 C17.4152614,7.82395349 14.6463393,5.04932599 11.2307008,5.04932599 Z">
                                            </path>
                                        </svg>
                                    </span>
                            </div>
                        </div>
                    </form>
                    <div class="slide-text3">
                        <div class="slide-text4">
                            <a href="#" class="slide-text5">#
                                <!-- -->로고
                            </a>
                        </div>
                        <div class="slide-text4">
                            <a href="#" class="slide-text5">#
                                <!-- -->블로그
                            </a>
                        </div>
                        <div class="slide-text4">
                            <a href="#" class="slide-text5">#
                                <!-- -->상세페이지
                            </a>
                        </div>
                        <div class="slide-text4">
                            <a href="#" class="slide-text5">#
                                <!-- -->일러스트
                            </a>
                        </div>
                        <div class="slide-text4">
                            <a href="#" class="slide-text5">#
                                <!-- -->명함
                            </a>
                        </div>
                    </div>
                </section>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><a href="#"><img class="banner-imgs1"
                                                                   src="/imgs/main/slide01.png"></a>
                        </div>
                        <div class="swiper-slide"><a href="#"><img class="banner-imgs1"
                                                                   src="/imgs/main/slide02.png"></a>
                        </div>
                        <div class="swiper-slide"><a href="#"><img class="banner-imgs1"
                                                                   src="/imgs/main/slide03.png"></a>
                        </div>
                        <div class="swiper-slide"><a href="#"><img class="banner-imgs1"
                                                                   src="/imgs/main/slide01.png"></a>
                        </div>
                        <div class="swiper-slide"><a href="#"><img class="banner-imgs1"
                                                                   src="/imgs/main/slide02.png"></a>
                        </div>
                    </div>
                    <div>
                        <div class="swiper-button-next" style="left: 507px; top: 215px;"></div>
                        <div class="swiper-button-prev" style="left: 0px; top: 215px;"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>
        <section class="ranking1">
            <h1 class="ranking-title1">
                기부 랭킹을 만나보세요!
            </h1>
            <div class="ranking2">
                <div class="ranking-text1">
                    기부금 랭킹
                </div>
                <nav>
                    <ul class="ranking3">
                        <li class="ranking4">
                            <a href="#" class="ranking5">
                                <div class="ranking6">
                                        <span
                                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 48px; height: 48px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                            <img alt="디자인 카테고리 아이콘" srcset="/imgs/main/rangking_icon01.png 1x"
                                                 src="/imgs/main/rangking_icon01.png" decoding="async" data-nimg="fixed"
                                                 style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                        </span>
                                </div>
                                <span class="ranking-text2">
                                        한지민
                                    </span>
                            </a>
                        </li>
                        <li class="ranking4">
                            <a href="#" class="ranking5">
                                <div class="ranking6">
                                        <span
                                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 48px; height: 48px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                            <img alt="디자인 카테고리 아이콘" srcset="/imgs/main/rangking_icon02.png 1x"
                                                 src="/imgs/main/rangking_icon02.png" decoding="async" data-nimg="fixed"
                                                 style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                        </span>
                                </div>
                                <span class="ranking-text2">
                                        박수진
                                    </span>
                            </a>
                        </li>
                        <li class="ranking4">
                            <a href="#" class="ranking5">
                                <div class="ranking6">
                                        <span
                                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 48px; height: 48px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                            <img alt="디자인 카테고리 아이콘" srcset="/imgs/main/rangking_icon03.png 1x"
                                                 src="/imgs/main/rangking_icon03.png" decoding="async" data-nimg="fixed"
                                                 style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                        </span>
                                </div>
                                <span class="ranking-text2">
                                        이연희
                                    </span>
                            </a>
                        </li>
                        <li class="ranking4">
                            <a href="#" class="ranking5">
                                <div class="ranking6">
                                        <span
                                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 48px; height: 48px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                            <img alt="디자인 카테고리 아이콘" srcset="/imgs/main/rangking_icon04.png 1x"
                                                 src="/imgs/main/rangking_icon04.png" decoding="async" data-nimg="fixed"
                                                 style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                        </span>
                                </div>
                                <span class="ranking-text2">
                                        한가인
                                    </span>
                            </a>
                        </li>
                        <li class="ranking4">
                            <a href="#" class="ranking5">
                                <div class="ranking6">
                                        <span
                                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 48px; height: 48px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                            <img alt="디자인 카테고리 아이콘" srcset="/imgs/main/rangking_icon09.png 1x"
                                                 src="/imgs/main/rangking_icon09.png" decoding="async" data-nimg="fixed"
                                                 style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                        </span>
                                </div>
                                <span class="ranking-text2">
                                        이나영
                                    </span>
                            </a>
                        </li>
                        <li class="ranking4">
                            <a href="#" class="ranking5">
                                <div class="ranking6">
                                        <span
                                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 48px; height: 48px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                            <img alt="디자인 카테고리 아이콘" srcset="/imgs/main/rangking_icon05.png 1x"
                                                 src="/imgs/main/rangking_icon05.png" decoding="async" data-nimg="fixed"
                                                 style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                        </span>
                                </div>
                                <span class="ranking-text2">
                                        김태희
                                    </span>
                            </a>
                        </li>
                        <li class="ranking4">
                            <a href="#" class="ranking5">
                                <div class="ranking6">
                                        <span
                                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 48px; height: 48px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                            <img alt="디자인 카테고리 아이콘" srcset="/imgs/main/rangking_icon06.png 1x"
                                                 src="/imgs/main/rangking_icon06.png" decoding="async" data-nimg="fixed"
                                                 style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                        </span>
                                </div>
                                <span class="ranking-text2">
                                        한채영
                                    </span>
                            </a>
                        </li>
                        <li class="ranking4">
                            <a href="#" class="ranking5">
                                <div class="ranking6">
                                        <span
                                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 48px; height: 48px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                            <img alt="디자인 카테고리 아이콘" srcset="/imgs/main/rangking_icon07.png 1x"
                                                 src="/imgs/main/rangking_icon07.png" decoding="async" data-nimg="fixed"
                                                 style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                        </span>
                                </div>
                                <span class="ranking-text2">
                                        오연서
                                    </span>
                            </a>
                        </li>
                        <li class="ranking4">
                            <a href="#" class="ranking5">
                                <div class="ranking6">
                                        <span
                                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 48px; height: 48px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                            <img alt="디자인 카테고리 아이콘" srcset="/imgs/main/rangking_icon08.png 1x"
                                                 src="/imgs/main/rangking_icon08.png" decoding="async" data-nimg="fixed"
                                                 style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                        </span>
                                </div>
                                <span class="ranking-text2">
                                        한예슬
                                    </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="ranking2">
                <div class="ranking-text1">
                    기부횟수 랭킹
                </div>
                <nav>
                    <ul class="ranking3">
                        <li class="ranking4">
                            <a href="#" class="ranking5">
                                <div class="ranking6">
                                        <span
                                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 48px; height: 48px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                            <img alt="디자인 카테고리 아이콘" srcset="/imgs/main/rangking_icon09.png 1x"
                                                 src="/imgs/main/rangking_icon09.png" decoding="async" data-nimg="fixed"
                                                 style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                        </span>
                                </div>
                                <span class="ranking-text2">
                                        한예슬
                                    </span>
                            </a>
                        </li>
                        <li class="ranking4">
                            <a href="#" class="ranking5">
                                <div class="ranking6">
                                        <span
                                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 48px; height: 48px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                            <img alt="디자인 카테고리 아이콘" srcset="/imgs/main/rangking_icon08.png 1x"
                                                 src="/imgs/main/rangking_icon08.png" decoding="async" data-nimg="fixed"
                                                 style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                        </span>
                                </div>
                                <span class="ranking-text2">
                                        한가인
                                    </span>
                            </a>
                        </li>
                        <li class="ranking4">
                            <a href="#" class="ranking5">
                                <div class="ranking6">
                                        <span
                                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 48px; height: 48px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                            <img alt="디자인 카테고리 아이콘" srcset="/imgs/main/rangking_icon07.png 1x"
                                                 src="/imgs/main/rangking_icon07.png" decoding="async" data-nimg="fixed"
                                                 style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                        </span>
                                </div>
                                <span class="ranking-text2">
                                        한채영
                                    </span>
                            </a>
                        </li>
                        <li class="ranking4">
                            <a href="#" class="ranking5">
                                <div class="ranking6">
                                        <span
                                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 48px; height: 48px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                            <img alt="디자인 카테고리 아이콘" srcset="/imgs/main/rangking_icon06.png 1x"
                                                 src="/imgs/main/rangking_icon06.png" decoding="async" data-nimg="fixed"
                                                 style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                        </span>
                                </div>
                                <span class="ranking-text2">
                                        한효주
                                    </span>
                            </a>
                        </li>
                        <li class="ranking4">
                            <a href="#" class="ranking5">
                                <div class="ranking6">
                                        <span
                                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 48px; height: 48px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                            <img alt="디자인 카테고리 아이콘" srcset="/imgs/main/rangking_icon05.png 1x"
                                                 src="/imgs/main/rangking_icon05.png" decoding="async" data-nimg="fixed"
                                                 style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                        </span>
                                </div>
                                <span class="ranking-text2">
                                        김태희
                                    </span>
                            </a>
                        </li>
                        <li class="ranking4">
                            <a href="#" class="ranking5">
                                <div class="ranking6">
                                        <span
                                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 48px; height: 48px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                            <img alt="디자인 카테고리 아이콘" srcset="/imgs/main/rangking_icon04.png 1x"
                                                 src="/imgs/main/rangking_icon04.png" decoding="async" data-nimg="fixed"
                                                 style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                        </span>
                                </div>
                                <span class="ranking-text2">
                                        이나영
                                    </span>
                            </a>
                        </li>
                        <li class="ranking4">
                            <a href="#" class="ranking5">
                                <div class="ranking6">
                                        <span
                                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 48px; height: 48px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                            <img alt="디자인 카테고리 아이콘" srcset="/imgs/main/rangking_icon03.png 1x"
                                                 src="/imgs/main/rangking_icon03.png" decoding="async" data-nimg="fixed"
                                                 style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                        </span>
                                </div>
                                <span class="ranking-text2">
                                        카리나
                                    </span>
                            </a>
                        </li>
                        <li class="ranking4">
                            <a href="#" class="ranking5">
                                <div class="ranking6">
                                        <span
                                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 48px; height: 48px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                            <img alt="디자인 카테고리 아이콘" srcset="/imgs/main/rangking_icon02.png 1x"
                                                 src="/imgs/main/rangking_icon02.png" decoding="async" data-nimg="fixed"
                                                 style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                        </span>
                                </div>
                                <span class="ranking-text2">
                                        한지민
                                    </span>
                            </a>
                        </li>
                        <li class="ranking4">
                            <a href="#" class="ranking5">
                                <div class="ranking6">
                                        <span
                                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 48px; height: 48px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                            <img alt="디자인 카테고리 아이콘" srcset="/imgs/main/rangking_icon01.png 1x"
                                                 src="/imgs/main/rangking_icon01.png" decoding="async" data-nimg="fixed"
                                                 style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                        </span>
                                </div>
                                <span class="ranking-text2">
                                        이연희
                                    </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
        <section class="help1">
            <h2 class="help-title1">
                도움이 필요한 보육원 이에요!
            </h2>
            <div class="help2">
                <article class="help3">
                    <a href="#" class="help4">
                        <div style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 217px; height: 300px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"
                             class="help5">
                            <div
                                    style="border-radius: 8px; background-color: rgb(212, 220, 252); position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                <h5 class="help-text1">경기도 성남시</h5>
                                <h2 class="help-text2">해준 보육원</h3>
                                    <img class="help-img1" src="/imgs/main/baby01.png">
                            </div>
                        </div>
                    </a>
                </article>
                <article class="help3">
                    <a href="#" class="help4">
                        <div style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 217px; height: 300px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"
                             class="help5">
                            <div
                                    style="border-radius: 8px; background-color: rgb(244, 246, 159); position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                <h5 class="help-text1">경기도 성남시</h5>
                                <h2 class="help-text2">의엽 보육원</h3>
                                    <img class="help-img1" src="/imgs/main/baby02.png">
                            </div>
                        </div>
                    </a>
                </article>
                <article class="help3">
                    <a href="#" class="help4">
                        <div style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 217px; height: 300px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"
                             class="help5">
                            <div
                                    style="border-radius: 8px; background-color: rgb(246, 201, 172); position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                <h5 class="help-text1">경기도 성남시</h5>
                                <h2 class="help-text2">지수 보육원</h3>
                                    <img class="help-img1" src="/imgs/main/baby03.png">
                            </div>
                        </div>
                    </a>
                </article>
                <article class="help3">
                    <a href="#" class="help4">
                        <div style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 217px; height: 300px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"
                             class="help5">
                            <div
                                    style="border-radius: 8px; background-color: rgb(215, 209, 251); position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                <h5 class="help-text1">경기도 성남시</h5>
                                <h2 class="help-text2">서림 보육원</h3>
                                    <img class="help-img1" src="/imgs/main/baby04.png">
                            </div>
                        </div>
                    </a>
                </article>
                <article class="help3">
                    <a href="#" class="help4">
                        <div style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 217px; height: 300px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"
                             class="help5">
                            <div
                                    style="border-radius: 8px; background-color: rgb(203, 224, 252); position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                <h5 class="help-text1">경기도 성남시</h5>
                                <h2 class="help-text2">브래드피트 보육원</h3>
                                    <img class="help-img1" src="/imgs/main/baby05.png">
                            </div>
                        </div>
                    </a>
                </article>
            </div>
        </section>
        <section class="video1">
            <div class="video2">
                <div class="video3">
                    <div class="video-text1">
                        <h1 class="video-text2">
                            내가 기부할 모든 보육원을<br>만날 수 있는 마일스톤!
                        </h1>
                        <h2 class="video-text3">
                            누적 등록수 331만 건!<br>500여 개의 카테고리, 3만여개의 서비스에서<br>기부에 필요한 모든 보육원을 만나보세요.
                        </h2>
                    </div>
                    <div class="video4">
                        <a data-video="ruXXj-3T2e4"><img style="border-radius: 8px;" src="/imgs/main/youtube.jpeg"> </a>
                    </div>
                    <div class="video_modal_popup">
                        <!-- <div class="video_modal_popup-closer"></div> -->
                    </div>
                </div>
                <div class="video-text4">
                    <article class="video-text5">
                        <h3 class="video-text6">
                            빠른 기부 시스템
                        </h3>
                        <h4 class="video-text7">QR 시스템 으로<br>빠르게 결제하고 기부해보세요!</h4>
                        <div class="video-text8">
                                <span
                                        style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 28px; height: 28px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                    <img alt="카드 0" srcset="/imgs/main/video1.png 1x" src="/imgs/main/video1.png"
                                         decoding="async"
                                         data-nimg="fixed"
                                         style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                </span>
                        </div>
                    </article>
                    <article class="video-text5">
                        <h3 class="video-text6">
                            안전한 기부
                        </h3>
                        <h4 class="video-text7">기부한 내 돈, 걱정되지 않나요?<br>실시간 기부 랭킹으로<br>즉시 확인 시켜 드려요!</h4>
                        <div class="video-text8">
                                <span
                                        style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 28px; height: 28px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                    <img alt="카드 1" srcset="/imgs/main/video2.png 1x" src="/imgs/main/video2.png"
                                         decoding="async"
                                         data-nimg="fixed"
                                         style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                </span>
                        </div>
                    </article>
                    <article class="video-text5">
                        <h3 class="video-text6">
                            직접 찾아가는 기부
                        </h3>
                        <h4 class="video-text7">방문하기 어려웠던 보육원!<br>보육원 봉사 신청으로<br>빠르게 방문 봉사 할수 있습니다.</h4>
                        <div class="video-text8">
                                <span
                                        style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 28px; height: 28px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                    <img alt="카드 2" srcset="/imgs/main/video3.png 1x" src="/imgs/main/video3.png"
                                         decoding="async"
                                         data-nimg="fixed"
                                         style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;">
                                </span>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </main>
</div>
<footer class="footer1">
    <hr orientation="horizontal" class="footer2">
    <div class="footer3">
        <nav class="footer-nav1">
            <div class="footer-nav2">
                <p class="nav-text1">고객센터</p>
                <p class="nav-text2">10:30~18:00 (점심시간 13:00~14:00)</p>
                <p class="nav-text3">주말, 공휴일 휴무</p>
            </div>
            <div class="footer-nav2">
                <p class="nav-text5">마일스톤</p>
                <ul class="footer4">
                    <li class="footer4">
                        <p class="nav-text6">
                            <a color="inherit" target="_self" href="#" class="footer-text1">마일스톤 메인</a>
                        </p>
                    </li>
                    <li class="footer4">
                        <p class="nav-text6">
                            <a color="inherit" target="_self" href="#" class="footer-text1">보육원 목록</a>
                        </p>
                    </li>
                    <li class="footer4">
                        <p class="nav-text6">
                            <a color="inherit" target="_self" href="#" class="footer-text1">도움이 필요한 보육원</a>
                        </p>
                    </li>
                    <li class="footer4">
                        <p class="nav-text6">
                            <a color="inherit" target="_self" href="#" class="footer-text1">기부랭킹</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="footer-nav2">
                <p class="nav-text5">마일스톤 정보</p>
                <ul class="footer4">
                    <li class="footer4">
                        <p class="nav-text6">
                            <a color="inherit" target="_self" href="#" class="footer-text1">서비스 소개</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="footer-nav2">
                <p class="nav-text5">관련 사이트</p>
                <ul class="footer4">
                    <li class="footer4">
                        <p class="nav-text6">
                            <a color="inherit" target="_self" href="#" class="footer-text1">마일스톤 블로그</a>
                        </p>
                    </li>
                    <li class="footer4">
                        <p class="nav-text6">
                            <a color="inherit" target="_self" href="#" class="footer-text1">마일스톤 인스타그램</a>
                        </p>
                    </li>
                    <li class="footer4">
                        <p class="nav-text6">
                            <a color="inherit" target="_self" href="#" class="footer-text1">마일스톤 유튜브</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="footer-nav2">
                <p class="nav-text5">지원</p>
                <ul class="footer4">
                    <li class="footer4">
                        <p class="nav-text6">
                            <a color="inherit" target="_self" href="#" class="footer-text1">공지사항</a>
                        </p>
                    </li>
                    <li class="footer4">
                        <p class="nav-text6">
                            <a color="inherit" target="_self" href="#" class="footer-text1">자주 묻는 질문</a>
                        </p>
                    </li>
                    <li class="footer4">
                        <p class="nav-text6">
                            <a color="inherit" target="_self" href="#" class="footer-text1">이용약관</a>
                        </p>
                    </li>
                    <li class="footer4">
                        <p class="nav-text6">
                            <a color="inherit" href="#" target="_blank" class="footer-text1">
                                <b>개인정보처리방침</b>
                            </a>
                        </p>
                    </li>
                    <li class="footer4">
                        <p class="nav-text6">
                            <a color="inherit" target="_self" href="#" class="footer-text1">전문가 센터</a>
                        </p>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="footer5">
        </div>
    </div>
    <hr orientation="horizontal" class="footer2">
    <div class="footer7">
        <p class="footer8">(주)마일스톤
            <span class="footer-text2"></span>
            경기도 성남시 중원구 하대원동 아튼빌아파트
            <span class="footer-text2"></span>
            대표 : 정서림
            <span class="footer-text2"></span>
            개인정보관리책임자 : 황지수
            <span class="footer-text2"></span>
            사업자등록번호 : 012-34-56789
            <a role="link" color="default" href="#" target="_blank" class="footer9">
                <span class="footer-text3">관리자 모드</span>
            </a>
            <br>통신판매업신고 : 2018-서울서초-2134
            <span class="footer-text2"></span>
            유료직업소개사업등록번호 : 제2021-3210195-14-5-00035호
            <span class="footer-text2"></span>
            고객센터 : 1234-5678
            <span class="footer-text2"></span>
            help@milestone.com
        </p>
    </div>
    <div class="footer10">
        <p class="footer-text4">
            (주)마일스톤은 통신판매중개자이며, 통신판매의 당사자가 아닙니다. 상품, 상품정보, 거래에 관한 의무와 책임은 판매회원에게 있습니다.
        </p>
        <p class="footer-text4">
            (주)마일스톤 사이트의 상품/판매회원/중개 서비스/거래 정보, 콘텐츠, UI 등에 대한 무단복제, 전송, 배포, 스크래핑 등의 행위는 저작권법, 콘텐츠산업 진흥법 등 관련법령에 의하여 엄격히
            금지됩니다. [안내 보기]
        </p>
        <div class="footer11">
            <p class="footer-text4">
                Copyright © 2022 kmong Inc. All rights reserved.
            </p>
        </div>
    </div>
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="/js/main/main.js"></script>
<script src="/js/main/slide.js"></script>
<script src="/js/main/banner.js"></script>
</html>