* {
    box-sizing: border-box;
}

html {
    line-height: normal;
    -webkit-text-size-adjust: 100%;
}

.header1 {
    z-index: 20;
    border-bottom: 1px solid #e4e5ed;
    background-color: #ffffff;
    transition: background-color 0.3s, border-color 0.3s;
    position: sticky;
    top: 0px;
    left: 0;
    right: 0;
    min-width: 1200px;
}

.header2 {
    height: 74px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.logo1 {
    cursor: pointer;
    text-decoration: none;
    width: 85px;
    height: 26px;
}

.logo2 {
    width: 85px;
    height: 100%;
}

.header4 {
    margin: 0px 16px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    max-width: 256px;
    transition: max-width 0.2s ease-in-out 0s;
    position: relative;
}

.header5 {
    width: 100%;
    transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s;
    display: inline-flex;
    flex-direction: row;
    overflow: hidden;
    cursor: text;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 52, 65);
    height: 42px;
    padding: 0px 12px;
    min-width: 64px;
    border-radius: 20px;
    font-size: 14px;
}

button, input, optgroup, select, textarea {
    font-size: 100%;
    line-height: normal;
    margin: 0;
}

.button1 {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
}

.button2 {
    outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    max-width: 100%;
    height: 42px;
    font-size: 15px;
    padding: 0px 22px;
    min-width: 64px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(48, 52, 65);
    margin-right: 4px;
}

.button5 {
    outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    max-width: 100%;
    height: 42px;
    font-size: 15px;
    padding: 0px 22px;
    min-width: 64px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(48, 52, 65);
    margin-right: 16px;
}

.button7 {
    outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    max-width: 100%;
    height: 42px;
    font-size: 15px;
    padding: 0px 22px;
    min-width: 64px;
    background-color: rgb(255, 212, 0);
    border-color: rgb(255, 212, 0);
    color: rgb(48, 52, 65);
}

.header7 {
    width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

.header8 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 48px;
}

.nav1 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 48px;
    margin: 0;
    padding: 0;
}

.nav2 {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    position: relative;
    margin: 0 0 0 18px;
    padding: 0;
}

a {
    background-color: transparent;
}

.nav5 {
    text-decoration: none;
    cursor: pointer;
    color: #303441;
}

.nav7 {
    height: 4px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.nav9 {
    width: 100%;
    height: 100%;
}

.header9 {
    margin: 0px 0px 0px auto;
}

a:-webkit-any-link {
    cursor: pointer;
}

.header11 {
    font-size: 14px;
    color: rgb(48, 52, 65);
    text-decoration: none;
}

